.header {
    display: flex;
    align-items: center;
    background-color: #ec7001;
}

.header--anchor {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header--logo{
    max-height: 42px;
}
